.contPag {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  background-color: #9fd3c7;
  max-height: 3rem;
  padding: 0.5rem;
}

.contGral {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.arrowBack {
  display: flex;
  justify-content: end;
  align-items: center;
  max-width: 5%;
  padding: 1rem;
}

.title {
  font-family: sans-serif;
  color: #6a6a6a;
  font-weight: 500;
  font-size: 1.7em;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.cardForm {
  background-color: #9fd3c7;
  width: 700px;
  min-height: 420px;
  border-radius: 50px;
  position: relative;
  padding-bottom: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.form {
  /* padding-top: 20px; */
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-weight: 200;
  font-size: 15px;
}

.inputs {
  margin-top: 5px;
  padding-left: 15px;
  height: 30px;
  width: 200px;
  border-radius: 20px;
  border: none;
  background-color: #f8f7f7;
}

.label {
  font-weight: 200;
}

.countriesSelected {
  font-weight: 300;
}

.selectBox {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  padding-left: 15px;
  height: 30px;
  width: 200px;
  border-radius: 20px;
  border: none;
  background-color: #f8f7f7;
  font-family: sans-serif;
}

.submitButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100px;
  border-radius: 8px;
  background-color: #696565;
  color: #fff;
  font-family: sans-serif;
  cursor: pointer;
  border: none;
}

.error {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  color: #d13b33;
}
